html, body {
    margin: 0;
    padding: 0;
}

body {
    color: rgb(0, 0, 0, .87);
    font-family: 'Helvetica Neue', Helvetica, Roboto, 'Droid Sans', 'Hiragino Kaku Gothic ProN', Meiryo, sans-serif;
}
