<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>ポータル</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.1/css/bulma.min.css" />
  <link rel="stylesheet" type="text/css" href="static/common.css">
</head>

<body>

  <div class="wrapper">
    <h1 class="title">ようこそ</h1>
    <p>
      あなたにはトークン「
      <span title="{{token}}">{{token[:25]}}...</span>」が発行されました。
    </p>
    <p>
      このトークンにはあなたのログインIDや利用可能なアプリケーションなどの情報が含まれています。つまり、トークンを提示されたウェブアプリケーションは、このポータルに問い合わせることなく
      <ul>
        <li>あなたは
          <span>{{loginid}}</span>である
        </li>
        <li>
          {{'と'.join(apps)}}が利用できる
        </li>
      </ul>
      ことが分かります。
    </p>

    <div class="apps">
      <div class="columns">
        {% for app in all_apps %}
        <div class="column">
          <div class="card app" url="{{ app['url'] }}">
            <div class="card-image">
              <figure class="image is-4by3">
                <img src="{{ app['logourl'] }}">
              </figure>
            </div>
            <div class="card-content">
              <div class="media">
                <div class="media-content">
                  <h4 class="subtitle is-4">{{ app['id'] }}</h4>
                </div>
              </div>
              <div class="content">
                {{ app['caption'] }}
              </div>
              <div class="content">
                {{ app['url'] }}
              </div>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>

  <form name="toMenuFrom" method="post" target="_blank" hidden>
    <input type="hidden" name="token" value="{{ token }}">
  </form>

  <script>
    for (elem of document.getElementsByClassName('app')) {
      elem.addEventListener('click', e => {
        const form = document.forms.toMenuFrom;
        form.action = e.currentTarget.getAttribute('url');
        form.submit();
      });
    }
  </script>
</body>

</html>